.edit-form-spots {
    display: flex;
    justify-content: center;
    /* background-image: url("http://missioncleanearth.org/img/intro.jpg");
    background-size:cover; */
}

.description-box {
    width: 100%;
    max-width: 100%;
    height: 90px;
}
hr {
    max-width: 60%;
}
/* .bg-img {
    The image used
    background-image: url("https://cdn.wallpapersafari.com/84/35/l85BYI.jpg");

    Control the height of the image
    min-height: 380px;

    Center and scale the image nicely
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  } */
