/* button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: #000;
  }
  .off {
    color: #ccc;
  } */

.filled {
  color: green;
}

.empty {
  color: burlywood;
}

.stars-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-text {
  height: 40px;
}

.star-rating-input {
  display: flex;
}
