.header {
    padding-bottom: 20px;
}

.user-spots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
  }

  .spot-place {
    display: flex;
    max-width: 400px;
    max-height: 400px;
    flex: 25%;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 5px;
  }

  .city-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
  }

  .img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 6px;
  }

  .city-rating-spot-manage {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .update-delete-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }

  #update-button {
    padding-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #94AF9F;
    color: black;
    font-weight: bold;
  }

  .delete-button {
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 5px;
    border-left: 5px;
    margin-left: 5px;
  }

  .spot-image-container .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .spot-image-container:hover .toolTipText {
    visibility: visible;
  }
