.signUp-form {
    display:flex;
    align-items: center;
}

#modal-content > * {
    margin-bottom: 5px;
    flex-flow: wrap;
    flex-direction: column;
}

#background-form {
    max-width: 600px;
    max-height: 150px;
}

.signUp-button {
    background-color: #F83158;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: .5rem;
    font-weight: bold;
    margin-top: .5rem;
}

.signUp-form > label {
    padding: .2rem;
    font-weight: bold;
}

.signUp-button:hover {
    background-color: #EB215E;
}
