.signUp-form {
    display:flex;
    align-items: center;
}

#modal-content > * {
    margin-bottom: 5px;
    flex-flow: wrap;
    flex-direction: column;
}

#background-form {
    max-width: 600px;
    max-height: 400px;
}

.signUp-button {
    border: 2px solid black;
    border-radius: 5px;
}
