.spot-details-page {
  max-width: 1000px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.reserve {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.reserve .toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.reserve .toolTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.reserve:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

.post-button {
  list-style: none;
}

.review-submit {
  list-style: none;
}

.delete-button {
  list-style: none;
}

.stars {
  display: flex;
}
/* .image {
  max-width: 200px;
  max-height: 200px;
}

.spots-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px
}

.city-rating-spot {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

.spot-details-container {

}

.spot-images-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-auto-flow: column;
}

.other-images {
  /* max-width: 50%; */
  object-fit: fill;
}

.preview-image1 {
  /* width: 100%; */
  object-fit: fill;
}
.left-side {
  grid-area: 1 / 1 / span 2 / span 2;
  position: sticky;
}

.preview-image1 {
  max-height:fit-content
}

.owner-description-container {
  display: flex;
  flex-direction: column;
}

.below-image.container {
  display: flex;
}
