.spots-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spot-place {
    max-width: 300px;
    max-height: 300px;
}

.city-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.img {
    max-height: 100%;
    max-width: 100%;
}
