.spots-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  flex-wrap: wrap;
}

.spot-place {
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin: 0 1em;
  flex: 50%;
  width: 24%;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.city-rating-spot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .city-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} */

.price {
  font-weight: bold;
}

.img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 6px;
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

.spot-place > .toolTipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  /* text-align: center; */
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.spot-place:hover > .toolTipText {
  visibility: visible;
}
