.profile-dropdown {
    border: 2px solid black;
}

.hidden {
    display: none;
}

.navBar {
    border: 2px solid lightgray;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    /* flex:  */
    height: 5rem;
    flex-direction: row;
    list-style: none;
}

.earth {
    display: block;
    height:0;
    min-height:100%;
}

.homeButton {
    display: block;
    height:0;
    min-height:100%;
    flex-wrap: nowrap;
}
