#modal-content {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: flex;
    justify-content: center;
    /* align-items: center;
    flex-direction: column; */
    margin-bottom: 5px;
}

.login-form > * {
    margin-bottom: 5px;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
